<footer>
    <div id="footerlink">
        <nav class="wrapper">
            <a style="color: #ddd;" href="/">首页</a>
            <a style="color: #ddd;" href="/about/">关于</a>
            <a style="color: #ddd;" href="/news/">新闻</a>
            <!-- <a style="color: #ddd;" href="/server/">服务</a> -->
            <a style="color: #ddd;" href="/case/">案例</a>
            <a style="color: #ddd;" href="/contact/">联系</a>
            <a id="gotop" href="javascript:void(0)">top</a>
        </nav>
    </div>
    <div id="footerinfo">
        <div style="margin: 0 auto;width: 986px;">
        <div class="wrapper" style="width: 491px;display: inline-block;right: 0;">
            <h2 style="color: #aaa;">联系我们<strong style="color: #aaa;">Contact</strong></h2>
            <p>
                <a style="color: #ddd;" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=805963294&site=qq&menu=yes"><img border="0" src="/static/images/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" /></a>
                <br/>
                <span style="color: #ddd;">联系人：于经理</span>
                <br/>
                <span style="color: #ddd;">电话：18964345183</span>
                <br/>
                <span style="color: #ddd;">电子邮件：contact@shrocit.com</span>
                <br/>
                <span style="color: #ddd;">公司地址：上海市浦东新区藿香路238号</span>
                <br/>
                <span style="color: #ddd;">Copyright © 2016 shrocit.com All rights reserved.</span>
            </p>
            <!-- <img src="/static/images/map.gif" id="homemap" width="258" height="190" alt="公司位置" /> -->
        </div>
        <div class="links" style="width: 491px;display: inline-block;height: 191px;">
            <h2 style="color: #aaa;">友情链接<strong style="color: #aaa;">Links</strong></h2>
            <p>
                <ul>
                    <li>
                        <a style="color: #ddd;" href="https://www.baidu.com/" target='_blank'>百度一下</a>
                    </li>
                    <li>
                        <a style="color: #ddd;" href="https://www.google.com/" target='_blank'>Google</a>
                    </li>
                    <li>
                        <a style="color: #ddd;" href="https://github.com/" target='_blank'>Github</a>
                    </li>
                    <li>
                        <a style="color: #ddd;" href="http://www.cnbeta.com/" target='_blank'>cnBeta</a>
                    </li>
                    <li>
                        <a style="color: #ddd;" href="http://36kr.com/" target='_blank'>36Kr</a>
                    </li>
                </ul>
            </p>
        </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
$("#gotop").click(function() {
    $('body,html').animate({
        scrollTop: 0
    }, 500);
})
</script>
