<header>
    <div id="navbg"></div>
    <div class="wrapper">
        <h1 class="logo">
            <a href="/"  title="上海鲲鹏信息技术有限公司">
                <img src="/static/img/logo.png.png" alt="上海鲲鹏信息技术有限公司" />
            </a>
        </h1>
        <nav>
            <ul>
                <li class="home"><a href="/" title="回到首页">首页<span style="margin-top: 7px;display: block;">网站首页</span></a></li>
                <li class="about"><a href="/about/"  title="关于我们">关于<span style="margin-top: 7px;display: block;">我们是谁？</span></a></li>
                <li class="service"><a href="/news/"  title="新闻动态">新闻<span style="margin-top: 7px;display: block;">我们在做什么？</span></a></li>
                <!-- <li class="service"><a href="/server/"  title="服务项目">服务<span style="margin-top: 7px;display: block;">我们能做什么？</span></a></li> -->
                <li class="cases"><a href="/case/" title="案例介绍">案例<span style="margin-top: 7px;display: block;">我们做过什么？</span></a></li>
                <li class="client"><a href="/contact/"  title="联系我们">联系我们<span style="margin-top: 7px;display: block;">您需要支持？</span></a></li>
            </ul>
        </nav>
            </div>
</header>
