---
layout: base
---
{% if page.style == 'case' %}
<section id="show_cases">
    <div class="cat_title">
        <div class="wrapper">
            <h2><strong>CASES</strong>案例</h2>
            <p>我们的作品，他们的故事
                <br/>Our work, their stories </p>
        </div>
    </div>
    <article>
        <div class="wrapper">
            <div id="overview">
                <div class="overview_bg"></div>
                <div id="case_info">
                    {% if page.img %}
                    <h1><img src="{{ page.img }}" width="180" height="120" alt="{{ page.title }}" /></h1> {% endif %}
                    <ul>
                        <li>名称：{{ page.title }}</li>
                        <li>分类：{{ page.kind }}</li>
                    </ul>
                    {% if page.website %}
                    <a href="{{ page.website }}" class="btn_blue" target="_blank" rel="external nofollow">VISIT SITE 访问该网站</a>
                    {% endif %}
                    <div class="brief"> {{ page.desc }}</div>
                </div>
            </div>
            <div id="detailed">
                {{ content }}
            </div>
        </div>
    </article>
    <div id="case_footer">
        <div class="wrapper showother">
            <a class="backlist" href="/case/">返回案例列表</a>
        </div>
    </div>
</section>
<!--[if IE 6]>
<script type="text/javascript" src="../../js/killie6.js" ></script>
<![endif]-->
<script type="text/javascript">
$("header>div>nav>ul>li>a").hover(function() {
    $(this).parent().stop(false, true).animate({
        "background-position-x": "6px",
        opacity: "0.7"
    }, {
        duration: "normal",
        easing: "easeOutElastic"
    });
}, function() {
    $(this).parent().stop(false, true).animate({
        "background-position-x": "10px",
        opacity: "1"
    }, {
        duration: "normal",
        easing: "easeOutElastic"
    });
});
//Cases Start
if ($.browser.msie && $.browser.version == 6.0 && !$.support.style) {
    $("#overview").height($("#detailed").height());
}
$(window).scroll(function() {
    if ($.browser.msie && $.browser.version == 6.0 && !$.support.style) {
        return false;
    }
    if ($(this).scrollTop() > 110) {
        $("article").css("background-position", "center 80px");
    } else {
        $("article").css("background-position", "center " + (190 - $(this).scrollTop()) + "px");
    }
});
$('#case_info h1').pngFix();
$("#detailed img").lazyload({
    effect: "fadeIn",
    failurelimit: 10
});
$("#case_footer>.showother>.previous,#case_footer>.showother>.next").hover(function() {
    $("span>img", this).stop(false, true).animate({
        "left": "-20px"
    }, {
        duration: "fast",
        easing: "easeOutQuad"
    });
    $("#show_thumb>img").hide().eq($(this).index($("#case_footer>.showother>.previous,#case_footer>.showother>.next"))).show();
    $("#show_thumb").css({
        display: "block",
        left: $(this).css("left"),
        right: $(this).css("right"),
        bottom: "20px",
        opacity: "0"
    }).stop(false, true).animate({
        bottom: "25px",
        opacity: "1"
    }, {
        duration: "fast",
        easing: "easeOutQuad"
    });
}, function() {
    $("span>img", this).stop(false, true).animate({
        "left": "0"
    }, {
        duration: "fast",
        easing: "easeOutQuad"
    });
    $("#show_thumb").stop(false, true).animate({
        bottom: "20px",
        opacity: "0"
    }, {
        duration: "fast",
        easing: "easeOutQuad"
    });
})
$("#gotop").click(function() {
    $('body,html').animate({
        scrollTop: 0
    }, 500);
})
</script>
{% endif %}

{% if page.style == 'news' %}
<style type="text/css">
    h5 {
        font-size: 14px;
    }
    h6 {
        font-size: 12px;
    }
    blockquote {
        margin: 20px 30px;
        padding: 20px 30px;
        color: rgb(102, 102, 102);
        font-family: 'Microsoft YaHei', 'Segoe UI', Tahoma, Arial, Verdana, sans-serif;
        line-height: 21px;
        text-align: justify;
        background-color: rgb(235, 235, 235);
        border: 1px solid rgb(220, 220, 220);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: rgb(204, 204, 204) 3px 3px 8px;
    }
</style>
<section id="shownews">
    <div class="cat_title">
        <div class="wrapper">
            <h2><strong>NEWS</strong>新闻</h2>
            <p>最近正在折腾...
                <br/> Recently is to do ...</p>
        </div>
    </div>
    <div class="category">
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
            <span>UPTATED:{{ page.date | date: "%Y-%m-%d" }} | 分类：
      <a href="index.htm" tppabs="http://mc18.eatdou.com/news/hynews/">{{ page.kind }}</a>
      </span> </div>
    </div>
    <article>
        <div class="wrapper" id="detailed">
            <div>
                {{ content }}
            </div>
            <div id="case_footer">
                <div class="wrapper showother"> <a class="backlist" href="/news/">返回新闻列表</a> </div>
            </div>
    </article>
</section>
<script type="text/javascript">
$("header>div>nav>ul>li>a").hover(function() {
    $(this).parent().stop(false, true).animate({
        "background-position-x": "6px",
        opacity: "0.7"
    }, {
        duration: "normal",
        easing: "easeOutElastic"
    });
}, function() {
    $(this).parent().stop(false, true).animate({
        "background-position-x": "10px",
        opacity: "1"
    }, {
        duration: "normal",
        easing: "easeOutElastic"
    });
});
//Show News Start
$("#case_footer>.showother>.previous,#case_footer>.showother>.next").hover(function() {
    $("span>img", this).stop(false, true).animate({
        "left": "-20px"
    }, {
        duration: "fast",
        easing: "easeOutQuad"
    });
    $("#show_thumb>img").hide().eq($(this).index($("#case_footer>.showother>.previous,#case_footer>.showother>.next"))).show();
}, function() {
    $("span>img", this).stop(false, true).animate({
        "left": "0"
    }, {
        duration: "fast",
        easing: "easeOutQuad"
    });
});
//Show News End
$("#gotop").click(function() {
    $('body,html').animate({
        scrollTop: 0
    }, 500);
})
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3fe5b2b119b5fc4931e9c73e7071b0c6' type='text/javascript'%3E%3C/script%3E"));
var bds_config = {
    "bdTop": 203
};
$("#bdshell_js").attr("src", "http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours());
</script>
{% endif %}
